
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body{
  font-family: 'Work Sans', sans-serif;
}
/* Contact.css */
.contact {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  .contact h2 {
    margin-top: 0;
  }
  
  .contact p {
    margin: 10px 0;
  }
  