
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body{
  font-family: 'Work Sans', sans-serif;
}
/* ExerciseRoutines.css */
.exercise-routines {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    max-width: 400px;
  }
  
  .exercise-routines h2 {
    margin-top: 0;
  }
  
  .exercise-routines label {
    display: block;
    margin-top: 10px;
  }
  
  .exercise-routines input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .exercise-routines button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .exercise-routines button:hover {
    background-color: #0056b3;
  }
  
  .exercise-routines h3 {
    margin-top: 20px;
  }
  